[submodule "vendor/virtualenv"]
	path = vendor/virtualenv
	url = https://github.com/pypa/virtualenv
[submodule "vendor/ansible"]
	path = vendor/ansible
	url = https://github.com/ansible/ansible
[submodule "src/ansible-openwrt"]
	path = src/ansible-openwrt
	url = https://github.com/gekmihesg/ansible-openwrt
[submodule "src/ansible-modules-bitwarden"]
	path = src/ansible-modules-bitwarden
	url = https://github.com/larsks/ansible-modules-bitwarden
