[Unit]
Description=Postgres Container
After=docker.service
Wants=network-online.target docker.socket
Requires=docker.socket

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a mosquitto
ExecStop=/usr/bin/docker stop -t 10 mosquitto

[Install]
WantedBy=multi-user.target
