UsePAM yes
PrintMotd no
AcceptEnv LANG LC_*
Subsystem	sftp	/usr/lib/openssh/sftp-server
PermitRootLogin no
PasswordAuthentication no
X11Forwarding no
AllowTcpForwarding no
ClientAliveInterval 600
ClientAliveCountMax 10
MaxAuthTries 2
LogLevel VERBOSE
Compression no
MaxSessions 5
AllowAgentForwarding no

Match User peregrinus
  X11Forwarding yes
  PasswordAuthentication yes

Match User synergy
  X11Forwarding yes
  AllowTcpForwarding yes
